
body{
    margin: 0;
    background-color: #0D1117;
    padding: 0 11px;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}


.container{
    display: flex;
    flex-direction: column;

}


.navbar{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    background-color: #0D1117;
    width: 100%;
    height: 50px;
}
.navbar span {

    font-size: 34px;
}
.navbar .logo{

    width:50px;
    height: 50px;

}
.navbar .search_input{
    margin-top: 10px;
    margin-top: 15px;
    margin-left: 13px;

}
.navbar .search_input input{
    background-color: #010409;
    border: 0.5px solid grey;
    width: 276px;
    border-radius: 3px;
    height: 26px;
    color: white;

}
.navlist ul{
    display: flex;
    flex-direction: row;
}

.navlist ul li{
    list-style: none;
    flex-direction: column;
    /* margin-left: 10px; */
    margin-right: 10px;
}
.user ul{
    display: flex;
    flex-direction: row;
}
.user ul li{
    list-style: none;
    margin-right: 7px;

}
.user ul li img{
    width: 21px;
    border-radius: 50%;
    height: 21px;   
}
.user{
    margin-left: 526px;


}
.arrow{
    font-size: 10px;
    /* width: 10px; */
    margin-right: 14px;
}
.sidebar{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    width: 24%;
    height: 100vh;
    background-color: #0D1117;
    display: flex;
    flex-direction: column;
    padding: 46px 29px;
    border-right: 1px solid grey;
}

.sidebar input{

    position: absolute;
   
    margin-top: -48px;

    margin-left: 212px;
    background-color: rgb(7, 182, 7);
    color: white;
    width: 62px;
    height: 31px;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 23px;

}
.sidebar span{
    position: absolute;
    margin-top: -44px;
    font-size: 20px;
    margin-left: 217px;

}
.side_search input{
    position: relative;
    width: 100%;
    border: 1 solid;
    margin: 0;
    border: 1px solid;
    border-color: gray;
    color: grey;
    background-color: black;
}
    
.project_list 

{
    color: rgb(233, 233, 233);
    width: 225px;
    
}
.project_list ul li img{

    height: 16px;
    margin-left: -8px;
    margin-top: 3px;
/* margin-top: -12px; */
width: 16px;
border-radius: 50%;
position: absolute;

}

.project_list ul li{
    list-style: none !important;
    margin-left: -10px;
    margin-left: -40px;
    margin-bottom: 8px !important;

    margin-top: 10px;
}
.project_list ul li h5{

    font-weight: 300;
    font-size: 14px;
    margin-left: 14px;
}
.side_last h2{
    font-size: 14px;
    font-weight: 600;
    color: #c9d1d9;
}
.recent p{
    font-size: 12px;
}
.recent{
    width: 209px;
    height: 140px;
    border: 1px dashed;
    border-color: #c9d1d9;
    align-items: center;
    padding: 12px;
    line-height: 43px;
    justify-content: center;
    border-radius: 11px;

}
.main{
    width: 100%;
    display: flex;
    background-color: #010409;
    

    
}

.content{

    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */

}
.content_body{
    width: 65%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
.content_body ul{
    display: flex;
    flex-direction: row;
    margin-left: -40px;
}
.content_body ul li {
    list-style: none;
    margin-right: 20px;
}
.content_body ul li a{
    color: #c9d1d9;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}
hr{
   
    margin-top: 10px;
    margin-left: 34px;
    width: 100%;
    color: #c9d1d9;
    size: 1px;
}
.content_body .header{

    border-bottom:1px solid  #c9d1d9;
    margin-left: 53px;
    height: 39px;
}
.content_main
{
    margin-left: 53px;
    
    background-color: #0D1117;
    padding: 14px;
    width: 89%;
    border: 1px;
    border-style: inset;
    border-radius: 16px;
    margin-top: 34px;
    height: 279px;
    border-color: #30363d;
}
.content_main a{
    color:#58a6ff;
}
.content_main p{
    line-height: 60px;
}
.content_main button{
    color:#58a6ff;
    background-color: #30363d;
    text-decoration: none;
    padding: 5px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    border: 1px inset;
    border-color: #30363d;

}
.content_main button a{
    text-decoration: none;
}
.content_tips{
    margin-left: 53px;
}
.content_tips p{
    /* font-size: 10px; */
    font-size: 12px;
    letter-spacing: 1px;
    color: #c9d1d9;
}
.content_tips p a{
    color: #58a6ff;
    text-decoration: none;

}
.footer{
    display: flex;
    flex-direction: row;
    color: #c9d1d9;
}
.git_li {
    display: flex;
    flex-direction: row;
    font-size:11px;
    margin-left: 49px;
    align-items: center;

}
.git_li .bi-github {
    margin-right: 9px;
    font-size: 21px;
    
}

.git_li span {
    margin-top: 1px;
    margin-right: 3px;
}
.footer_list{
    display: flex;
    margin-left: 230px;
    flex-direction: row;
    font-size:13px;
}
.footer_list ul{
    display: flex;
    flex-direction: column;
}
.footer_list ul li {
    margin-bottom: 6px;
}
.content_side{
    width: 391px;
    height: 100vh;
    position: absolute;
    top: 60px;
    right: 12px;
}
.content_side h6{
    margin-left: 23px;
    margin-top: 68px;
}

.content_side a{

    color: #58a6ff;


}

.content_side li{

    font-size:11px;
    color: #c9d1d9;

}
.vl{
    border-left: 1px solid grey;
    position: absolute;
    height: 219px;
    right: 374px;
    top: 126px;
}
.content_side li a{
    color: #c9d1d9;
    font-size:14px;
}
.content_side li p{

    font-size: 15px;
    color: #c9d1d9;
}
    